body {
    background-image: url(../kepek/hatter.jpg);
    background-attachment: fixed;
}



#wrapper{
    width: 65%;
    margin: 0 auto;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 
    "header header"
    "nav nav"
    "aside article"
    "footer footer";
}



header{
    grid-area: header;
    background-image: url(../kepek/fejlec.jpg);
    height: 545px;
}


nav{
    grid-area: nav;
}


aside{
    grid-area: aside;
}


aside img{
    width: 100%;
}


#szovegben{
    float: right;
    margin-left: 5px;
    max-width: 40%;
}


article{
    grid-area: article;
    padding: 10px;
}


footer{
    grid-area: footer;
}



ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    background-color: red;
    padding: 10px;
    text-align: center;
}


li a{
    color:white;
    text-decoration: none;
}


footer, nav{
    background-color: red;
}


footer{
    text-align: center;
    color: white;
}


@media all and(max-width:600px){
    #wrapper{
        width: 95%;
        margin: 0 auto;
        background-color: rgb(246, 239, 229);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "nav"
        "article"
        "footer";
    }
    aside{
        display: none;
    }
}